<!DOCTYPE html>
<html lang="pl-PL">

	<head>
		<meta charset="UTF-8">
		<title>Quotes from The Witcher</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		 crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<div class="jumbotron jumbotron-fluid bg-dark">
			<div class="container-fluid justify-content-center d-flex align-items-center">

				<img src="witcher5.png" id="witcher-header">

			</div>
		</div>

		<div class="container-fluid py-5">
			<div class="row justify-content-center d-flex align-items-center">
				<div class="col-10 col-md-8 col-lg-6 text-justify">

					<ul class="quotes list-unstyled font-weight-light">
						<% for (var i=0; i<quotes.length; i++) {%>
						<li class="quote">
							<blockquote class="blockquote">
								<p class="small mb-0" style="font-weight: 100">
									<%= quotes[i].quote %>
								</p>
								<footer class="blockquote-footer">
									<span class="small mb-0" style="font-weight: 100">
										<%= quotes[i].name %>
									</span>
								</footer>
								<hr class="hr-witcher mt-4 mb-5">
							</blockquote>
							<% } %>
						</li>
					</ul>
				</div>
			</div>

			<div class="row justify-content-center d-flex align-items-center py-3">
				<div class="col-10 col-md-8 col-lg-6">

					<div class="col-12 justify-content-center mb-0">
						<h1 class="h1-witcher">Add your quote!</h1>
					</div>

					<form action="/quotes" method="POST">
						<div class="row form-group justify-content-center d-flex align-items-center py-5">
							<div class="col-12 col-xl-12 mt-2">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text text-light bg-dark" for="name" style="font-weight: 100">quote</span>
									</div>
									<textarea class="form-control" type="text" name="quote" id="quote"></textarea>
								</div>
							</div>
							<div class="col-8 col-xl-6 mt-2">
								<div class="input-group">
									<div class="input-group-prepend">
										<span for="name" class="input-group-text text-light bg-dark">speaker</span>
									</div>
									<input class="form-control" type="text" name="name" id="name">
								</div>
							</div>
							<div class="col-4 col-xl-6 mt-2">
								<button class="btn btn-outline-dark btn-block mb-0" type="submit">Submit</button>
							</div>
						</div>
					</form>
				</div>

				<div class="col-12">
					<div class="alert alert-info" role="alert">
						<p class="text-center mt-2">
							<i class="fas fa-info" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i>
							<span class="font-weight-normal">When you click <mark>Submit</mark> your data will be saved in database.</span>
						</p>
						<hr>
						<p class="text-center" style="font-weight: 100">
							Don't hesitate and write your favourite quote from „The Witcher”!
						</p>
					</div>

				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer class="bg-dark h-100 w-100 py-5">
			<div class="container small">
				<div class="row text-center text-shadow text-light justify-content-center d-flex align-items-center">
					<div class="col-12">proudly
						<i class="fas fa-code"></i> with
						<span class="text-danger"> ❤︎ </span> by
						<a href="https://robertgrzonka.pl" class="link">robertgrzonka</a> | copyrights
						<small>ⓒ 2018</small>
					</div>
				</div>
			</div>
		</footer>

		<script src="fontawesome-all.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		 crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
		 crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
		 crossorigin="anonymous"></script>

	</body>

</html>
