* {
  line-height: 1.45;
  -webkit-font-variant-ligatures: historical-ligatures;
          font-variant-ligatures: historical-ligatures;
  letter-spacing: 0.0625em;
}

mark {
  background-color: #343a40;
  text-shadow: 1px 1px 1px #110;
  color: #fff;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  font-size: 0.8em;
  font-weight: 100;
  margin: 0 0.3em;
  font-variant: small-caps;
  -webkit-box-shadow: 1px 1px 1px #110;
          box-shadow: 1px 1px 1px #110;
  vertical-align: middle;
  -webkit-font-feature-settings: "c2sc" 1;
          font-feature-settings: "c2sc" 1;
}

#witcher-header {
  width: 20vw;
}

@media screen and (max-width: 900px) {
  #witcher-header {
    width: 70vw;
  }
}

.input-group-text {
  font-variant: small-caps;
  -webkit-font-feature-settings: "c2sc" 1;
          font-feature-settings: "c2sc" 1;
  font-weight: 100;
}

.text-shadow {
  text-shadow: 1px 1px 1px #110;
}

.h1-witcher {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

.hr-witcher {
  opacity: 0.1;
  background-color: #343a40;
  width: 100%;
}

.link {
  color: #e6e6e6;
  font-variant: small-caps;
  text-shadow: 1px 1px 1px #110;
  -webkit-font-feature-settings: "c2sc" 1;
          font-feature-settings: "c2sc" 1;
  -webkit-transition: 0.5s background-color, 0.5s text-shadow, 0.5s color, 0.5s border-radius, 0.5s padding, 0.5s -webkit-box-shadow;
  transition: 0.5s background-color, 0.5s text-shadow, 0.5s color, 0.5s border-radius, 0.5s padding, 0.5s -webkit-box-shadow;
  transition: 0.5s background-color, 0.5s text-shadow, 0.5s box-shadow, 0.5s color, 0.5s border-radius, 0.5s padding;
  transition: 0.5s background-color, 0.5s text-shadow, 0.5s box-shadow, 0.5s color, 0.5s border-radius, 0.5s padding, 0.5s -webkit-box-shadow;
}

.link:hover {
  background-color: #393f46;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 1px #110;
          box-shadow: 0px 0px 1px #110;
  padding: 0.5em;
  text-decoration: none;
  color: #cccccc;
  -webkit-transition: 0.5s background-color, 0.5s text-shadow, 0.5s color, 0.5 border-radius, 0.5s padding, 0.5s -webkit-box-shadow;
  transition: 0.5s background-color, 0.5s text-shadow, 0.5s color, 0.5 border-radius, 0.5s padding, 0.5s -webkit-box-shadow;
  transition: 0.5s background-color, 0.5s text-shadow, 0.5s box-shadow, 0.5s color, 0.5 border-radius, 0.5s padding;
  transition: 0.5s background-color, 0.5s text-shadow, 0.5s box-shadow, 0.5s color, 0.5 border-radius, 0.5s padding, 0.5s -webkit-box-shadow;
}
/*# sourceMappingURL=style.css.map */